button,
.button
  @extend button
  box-shadow: 0 5px 12px 0 mix(transparent, $color-content, 90%), 0 2px 5px 0 mix(transparent, black, 93%)
  text-transform: uppercase
  transition: transform .2s
  text-align: center

  &.-danger
    background-color: $color-danger

  &.-link,
  &.-pill
    background-color: transparent
    border: none
    box-shadow: none
    font-weight: 600
    padding-left: 0
    padding-right: 0
    color: $color-link

    &.-new
      color: $color-new

    &.-danger
      color: $color-danger

  &.-pill
    padding: .1em .75em
    border-radius: 1em

    &.-active
      color: $color-background
      background-color: $color-content
      pointer-events: none


  &[disabled]
    opacity: .5
    cursor: not-allowed
