.vue-codemirror
  padding: .5rem
  background-color: #282A35
  border-radius: .5rem
  box-shadow: 0 5px 12px 0 mix(transparent, $color-content, 90%), 0 2px 5px 0 mix(transparent, black, 93%)
  transition: box-shadow .2s
  font-size: .9rem

  .CodeMirror
    height: auto

// .cm-s-editlayer
//
//   &.CodeMirror
//     background: $color-background--invert
//     color: $color-hr
//
//   div.CodeMirror-selected
//     background: mix(white, $color-background--invert, 15%)
//
//   // .CodeMirror-line::selection,
//   // .CodeMirror-line > span::selection,
//   // .CodeMirror-line > span > span::selection
//   //   background: rgba(48, 48, 48, .99)
//
//   .CodeMirror-gutters
//     background: transparent
//     border-right: 0
//
//   // .CodeMirror-guttermarker
//   //   color: #ac4142
//
//   // .CodeMirror-guttermarker-subtle
//   //   color: #505050
//
//   .CodeMirror-linenumber
//     color: $color-disabled
//
//   .CodeMirror-cursor
//     border-left: 1px solid $color-content--invert
//
//   // .cm-comment
//   //   color: #8f5536
//
//   .cm-atom
//     color: saturate($color-active, 15%)
//
//   .cm-number
//     color: saturate($color-draft, 15%)
//
//   .cm-property,
//   .cm-attribute
//     color: saturate($color-danger, 15%)
//
//   // .cm-keyword
//   //   color: #ac4142
//
//   .cm-string
//     color: saturate($color-new, 15%)
//
//   // .cm-variable
//   //   color: #90a959
//
//   // .cm-variable-2
//   //   color: #6a9fb5
//
//   // .cm-def
//   //   color: #d28445
//
//   // .cm-bracket
//   //   color: #e0e0e0
//
//   // .cm-tag
//   //   color: #ac4142
//
//   // .cm-link
//   //   color: #aa759f
//
//   // .cm-error
//   //   background: $color-danger
//   //   color: $color-content--invert
//
//   // .CodeMirror-activeline-background
//   //   background: #202020
//
//   // .CodeMirror-matchingbracket
//   //   text-decoration: underline
//   //   color: white !important
