.layout
  display: grid
  grid-template-columns: 5rem 22rem auto
  height: 100vh

  .navigation
    grid-column-start: 1
    grid-column-end: 2

  .side-panel
    grid-column-start: 2
    grid-column-end: 3

  .main-content
    grid-column-start: 3
    grid-column-end: 4
    min-width: 30rem

  .settings
    grid-column-start: 2
    grid-column-end: 4

  .dashboard
    grid-column-start: 2
    grid-column-end: 4
