//
// Responsive
// --------------------------------------------------
// $rem is font size and others is relative to it

$rem: 14px
$rem--tablet-portrait: 14px
$rem--tablet-landscape: 16px
$rem--desktop: 18px
$rem--big-desktop: 18px

$breakpoint--tablet-portrait: 600px
$breakpoint--tablet-landscape: 900px
$breakpoint--desktop: 1200px
$breakpoint--big-desktop: 1800px

$container-horizontal-padding: 16px
$container-horizontal-padding--tablet-portrait: 32px
$container-horizontal-padding--tablet-landscape: 48px
$container-horizontal-padding--desktop: 64px
$container-horizontal-padding--big-desktop: 96px

$container-max-width: 1200px
$container-vertical-padding: 6rem


//
// Fonts
// --------------------------------------------------

$font-content: 'Open Sans', sans-serif
$font-heading: 'Open Sans', sans-serif


//
// Colors
// --------------------------------------------------

$color-active: #9151A8
$color-background: #ffffff
$color-content: #32325D
$color-danger: #DF6389
$color-disabled: #6A7C92
$color-draft: #F6C06C
$color-hr: #EDF2F7
$color-info: #88BBF9
$color-light: #F6F9FC
$color-link: #6667C4
$color-navigation: #3B3C71
$color-new: #4CB2AC

// $color-background: #ffffff
// $color-content: #32325D
// $color-primary: #656FDE
// $color-secondary: red
// $color-tertiary: red

// $color-background--light: #F6F9FC
// $color-background--semi-light: #EDF2F7
// $color-content--light: #6B7C93
// $color-danger: #DF6389

// invert
$color-background--invert: #1B1E27
$color-content--invert: #FFFFFF
// $color-primary--invert: $color-link
// $color-secondary--invert: $color-secondary
// $color-tertiary--invert: $color-tertiary


//
// Content
// --------------------------------------------------

$content-font-color: $color-content
$content-font-line-height: 1.5
$content-font-weight: 400

// invert
$content-font-color--invert: $color-content--invert
$content-font-weight--invert: 400


//
// Heading
// --------------------------------------------------

$heading-font-color: $color-content
$heading-font-size: 1rem
$heading-font-weight: 600

// invert
$heading-font-color--invert: $content-font-color--invert
$heading-font-weight--invert: $heading-font-weight


//
// Links
// --------------------------------------------------

$link-font-color--basic: $color-link
$link-font-color--hover: mix(white, $color-link, 30%)
$link-font-color--activ: mix(white, $color-link, 50%)

$link-text-decoration--basic: none
$link-text-decoration--hover: none
$link-text-decoration--activ: none

// invert
$link-font-color--basic-invert: $color-content--invert
$link-font-color--hover-invert: mix($color-content--invert, $link-font-color--basic-invert, 10%)
$link-font-color--activ-invert: mix($color-content--invert, $link-font-color--basic-invert, 20%)


//
// Buttons
// --------------------------------------------------

$button-border-radius: .3em
$button-font-family: $font-content
$button-font-size: 1em
$button-font-weight: 700
$button-padding: .75em 1.5em

$button-background--basic: $color-link
$button-background--hover: mix(white, $color-link, 10%)
$button-background--activ: mix($color-active, $color-link, 30%)

$button-border--basic: none
$button-border--hover: none
$button-border--activ: none

$button-font-color--basic: $color-background
$button-font-color--hover: $color-background
$button-font-color--activ: $color-background


//
// Inputs
// --------------------------------------------------

$input-border-radius: $button-border-radius
$input-font-family: $font-content
$input-font-size: 1rem
$input-font-weight: 400
$input-padding: 1.2em 1em
$input-placeholder-color: mix($color-content, $color-background, 30%)
$input-select-arrow-color: mix($color-content, $color-background, 50%)

$input-background--basic: mix(white, $color-content, 99%)
$input-background--hover: mix(white, $color-content, 99%)
$input-background--focus: mix(white, $color-active, 98%)

$input-border--basic: 1px solid mix(white, $color-content, 80%)
$input-border--hover: 1px solid mix(white, $color-content, 60%)
$input-border--focus: 1px solid mix(white, $color-active, 40%)

$input-font-color--basic: $color-content
$input-font-color--hover: $color-content
$input-font-color--focus: $color-content


//
// Horizontal rule
// --------------------------------------------------

$hr-color: $color-hr
$hr-height: 1px

// invert
$hr-color--invert: $color-hr
