service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow read: if userId == request.auth.uid;
      allow create: if request.auth != null
      							&& request.resource.data.email == request.auth.token.email;
    }

    match /projects/{projectId} {
    	function isRole(roles) {
      	return resource.data.roles[request.auth.uid].role in roles;
      }

      function allowDraft () {
      	return isRole(['admin', 'editor'])
        		&& request.writeFields.size() == 1
        		&& request.writeFields[0].matches('^draft\\..*');
      }

      function allowPublished () {
      	return isRole(['admin', 'editor'])
        		&& request.writeFields.size() == 2
        		&& request.writeFields[0] == 'published.structure' || request.writeFields[1] == 'published.structure'
        		&& request.writeFields[0] == 'published.draft' || request.writeFields[1] == 'published.draft';
      }

      function allowStructure () {
      	return isRole(['admin'])
        		&& request.writeFields.size() == 1
        		&& request.writeFields[0] == 'structure';
      }

      function allowRoles () {
      	return isRole(['admin'])
        		&& request.writeFields.size() == 1
        		&& request.writeFields[0].matches('^roles\\..*');
      }

    	allow list: if isRole(['admin', 'editor']);

      allow create: if request.auth != null
      							&& request.resource.data.roles[request.auth.uid].role == 'admin'
      							&& request.resource.data.roles[request.auth.uid].email == request.auth.token.email;

      allow update: if allowDraft()
      							|| allowPublished()
                    || allowRoles()
                    || allowStructure();
    }

    match /projects/{projectId}/versions/{versionId} {
      function isRole(roles) {
        return get(/databases/$(database)/documents/projects/$(projectId)).data.roles[request.auth.uid].role in roles;
      }

      allow create: if isRole(['admin', 'editor']);
    }

    match /projects/{projectId}/permissionJobs/{permissionId} {
      function isRole(roles) {
        return get(/databases/$(database)/documents/projects/$(projectId)).data.roles[request.auth.uid].role in roles;
      }

      allow create: if isRole(['admin']);
    }

    match /projects/{projectId}/deleteJobs/{permissionId} {
      function isRole(roles) {
        return get(/databases/$(database)/documents/projects/$(projectId)).data.roles[request.auth.uid].role in roles;
      }

      allow create: if isRole(['admin']);
    }

  }
}
